# .github/workflows/main.yml
name: main

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [1.25.x]
    permissions:
      checks: write
    steps:
      - uses: actions/checkout@v6
      - uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-go@v6
        with:
            go-version: ${{ matrix.go }}
            cache-dependency-path: |
              go.sum
              tools/go.sum
      - run: make generate
      - run: make test
      - uses: dorny/test-reporter@v2
        if: success() || failure()
        with:
          name: Go ${{ matrix.go }} Test Results
          path: .test/reports/**-test.xml
          reporter: java-junit
          fail-on-error: "true"
      - uses: actions/upload-artifact@v5
        if: success() || failure()
        with:
          name: Test Reports ${{ matrix.go }}
          path: .test/reports/**
          include-hidden-files: true

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod
          check-latest: true
          cache-dependency-path: |
            tools/go.sum
      - run: make lint
